.model {
}
.model-type {
  padding: 5rem 2rem 2rem 2rem;
  display: flex;
  background-color: #77c850;
  flex-direction: column;
}
.model-number {
  align-self: flex-end;
}

.model-detail {
  display: flex;
  flex-direction: column;
}

ol.model-types {
  margin: 0;
  padding: 0;
  display: flex;
}

li.pokemon.model-type {
  margin: 0;
  padding: 1rem;
}
.model-detail > img {
  width: 50%;
  align-self: center;
}

.model-content-abilities {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.model-abilities {
  list-style: none;
  display: flex;
}

.model-abilities > li {
  margin: 0 0.5rem;
}

.model-normal {
  background-color: #a6a877;
}

.model-grass {
  background-color: #77c850;
}

.model-fire {
  background-color: #ee7f30;
}

.model-water {
  background-color: #678fee;
}

.model-electric {
  background-color: #f7cf2e;
}

.model-ice {
  background-color: #98d5d7;
}

.model-ground {
  background-color: #dfbf69;
}

.model-flying {
  background-color: #a98ff0;
}

.model-poison {
  background-color: #a040a0;
}

.model-fighting {
  background-color: #bf3029;
}

.model-psychic {
  background-color: #f65687;
}

.model-dark {
  background-color: #725847;
}

.model-rock {
  background-color: #b8a137;
}

.model-bug {
  background-color: #a8b720;
}

.model-ghost {
  background-color: #6e5896;
}

.model-steel {
  background-color: #b9b7cf;
}

.model-dragon {
  background-color: #6f38f6;
}

.model-fairy {
  background-color: #f9aec7;
}
