ol.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

ol.pokemons li {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  height: 140px;
}

ol.pokemons img {
  max-width: 100%;
  height: 80px;
}

.pokemon {
  display: grid;
}

.number {
  font-size: 0.75rem;
  justify-self: end;
}

.name {
  margin: 0 0 0.5rem 0;
  text-transform: capitalize;
}

.image {
  display: flex;
  justify-content: space-around;
}

.types {
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
}

.type {
  margin: 0.2rem 0.2rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

@media screen and (min-width: 380px) {
  ol.pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 500px) {
  ol.pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  ol.pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
