.grass {
  background-color: #a3d37c;
}

.grass > .number {
  color: #83b15ea5;
}

.fire {
  background-color: #e9400b;
}

.fire > .number {
  color: #b33008;
}

.water {
  background-color: #2a89e8;
}

.water > .number {
  color: #075aac;
}

.electric {
  background-color: #f8b714;
}

.electric > .number {
  color: #a2780b;
}

.bug {
  background-color: #88960d;
}
.bug > .number {
  color: #4e5606;
}
.dark {
  background-color: #1b0a18;
}
.dark > .number {
  color: #c60aa3;
}
.dragon {
  background-color: #705bdb;
}
.dragon > .number {
  color: #201653;
}
.fairy {
  background-color: #e199e0;
}
.fairy > .number {
  color: #e77ce5;
}
.fighting {
  background-color: #7e311d;
}
.fighting > .number {
  color: #611f0f;
}
.flying {
  background-color: #667ed8;
}
.flying > .number {
  color: #2e51d2;
}
.ghost {
  background-color: #6160b3;
}
.ghost > .number {
  color: #2725cf;
}
.ground {
  background-color: #d1b055;
}
.ground > .number {
  color: #e9af10;
}
.ice {
  background-color: #6ed2f3;
}
.ice > .number {
  color: #08b8f3;
}
.normal {
  background-color: #c2c0b3;
}
.normal > .number {
  color: #6d6c69;
}
.poison {
  background-color: #944696;
}
.poison > .number {
  color: #632d63;
}
.psychic {
  background-color: #e43870;
}
.psychic > .number {
  color: #f10e59;
}
.rock {
  background-color: #9d863d;
}
.rock > .number {
  color: #635527;
}
.steel {
  background-color: #a5a5b4;
}
.steel > .number {
  color: #666670;
}
